<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>verify-email</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <h2>Firebase Verify Email</h2>
      <p>
        Please check your email and click on the link to verify your email address.
      </p>
      <!--Button to resend email verification Jarkko Hämäläinen 1701558-->
      <ion-button type="submit" (click)="authService.SendVerificationMail()" expand="block">
        Resend Verification Email
      </ion-button>
      <!--Button to go to login page Jarkko Hämäläinen 1701558-->
      <ion-button [routerLink]="['/menu/login']" routerDirection="forward">To login page</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
