<!--Login page with login form and buttons to login, login with google and create account 
  Jarkko Hämäläinen 1701558 -->
<ion-header>
  <ion-toolbar>
  <ion-title>Login page</ion-title>
  <ion-buttons slot="start">
  <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>
  <ion-content>
    <form>    
      <ion-item lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" #email required></ion-input>
      </ion-item> 
  
      <ion-item lines="full">
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" #password required></ion-input>
      </ion-item>
  
      <ion-row>
        <ion-col> 
        <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <form>
      <ion-row>
        <ion-col> 
          <ion-button 
           type="submit" 
           color="danger"
           (click)="authService.GoogleAuth()" 
           expand="block">
             Login with Google
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    <form>
      <ion-row>
        <ion-col> 
          <ion-button color="warning" [routerLink]="['/menu/register']" expand="block" routerDirection="forward">Create account</ion-button>
        </ion-col>
      </ion-row>
    </form>
    <form>
    <ion-row>
      <ion-col> 
        <ion-button color="warning" [routerLink]="['/menu/forgot-password']" expand="block" routerDirection="forward">Forgot password</ion-button>
      </ion-col>
    </ion-row>
  </form>
    <h2><div id="container">Please login to access contents of this CV.<br>
      If you do not have an account please create one using the create account button.
    </div>
    </h2>
  </ion-content>