<!--Jarkko Hämäläinen 1701558 
This page has forgot password form, but there is no backend at the moment :( -->
<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
    <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>    
    <ion-item lines="full">
      <ion-label position="floating">email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="PasswordRecover(email)" expand="block">Reset password</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <form>
    <small>
      Please provide the email address that you used when you signed
      up for your account.
    </small>
  </form>
</ion-content>